/*The navbar must have the following:*/

/*  default styling is removed as needed from the body, unordered list and anchor tag elements*/
a {
    text-decoration: none;
    display: inline-block;
    position: relative;
    z-index: 1;
    padding: 2em;
    margin: -2em;
}
/*a:link, a:visited {*/
/*    background-color: white;*/
/*    color: black;*/
/*    text-align: center;*/
/*    text-decoration: none;*/
/*    display: inline-block;*/
/*}*/

a:hover, a:active {
    color: blue;
}
nav {
    display: flex;
    justify-content: space-between;
    background-color: #848487;
    align-items: center;
}
div{
    box-sizing: border-box;
}
.left.side {
    display: flex;
    justify-content: space-evenly;
    font-size: 15px;
    font-weight: bold;
    width: 25%;
    word-spacing: 0.5em;
    font-family: 'Work Sans', sans-serif;
}
img {
    height: 15px;
}
.right.side {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    width: 15%;
    font-family: 'Work Sans', sans-serif;
}
.logo {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    text: 3em;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: auto;
}